<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
</head>

<body>
    <div ng-app>
        <label>Nombre:</label>
        <input type="text" placeholder="Escribe tu nombre" ng-model="nombre">
        <input type="text" placeholder="Color" ng-model="color" ;>
        <hr>
        <h1 class="text">Hola <span class="nombre-{{color}}" > {{nombre}} </span> !</h1>
    </div>
</body>

</html>
